.FilterMenu{
    width: 90px;
    margin-right: 7px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    left: 91.5%;
    top: 4px;
}

.FilterMenu_default, .DisplayFilterMenu, .DisplayFilterMenu_item{
    border-radius: 3px;    
}

.FilterMenu_default:hover {
    cursor: pointer;
}

.arrow_price{
    font-size: 15px;
}

.icon_arrows {
    float: right;
}

.DisplayFilterMenu{
    display: block;
}

.DisplayFilterMenu_item, .FilterMenu_default{
    padding: 4px;
}

.DisplayFilterMenu_item:hover {
    cursor: pointer;
    background-color: gray;
}