.sideBarStatic {
    z-index: 15;
    position: sticky;
    float: left;
    width: 8px;
    background-color: rgba(0, 140, 255, 0.479);
    height: 600px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 255, 0.527);
}

.sideBarStatic:hover {
    cursor: pointer;
}

.icon_doubleArrow {
    font-size: 9px;
    padding-top: 300px;
}