.sideBarContainer {
    z-index: 15;
    position: absolute;
    top: 10.5%;
    background: rgb(250, 249, 249);
    float: left;
    width: 200px;
    height: 600px;
    overflow: scroll;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 2px 2px 15px 0px rgba(176,176,176,1);
}

.resetAndUpdate {
    margin-top: 10px;
    width: 200px;
}

.resetAndUpdate_button {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid lightblue;
    border-radius: 5px;
}

.resetAndUpdate_button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    background-color: white;
}

.resetButton {
    width: 40px;
}

.updateButton {
    margin-left: 10px;
    width: 100px;
    font-size: 15px;
}

.milesFromZipContainer {
    margin-top: 10px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.mileZipInputs{
    margin-top: 5px;
    display: inline-block;
}

.milesInput {
    width: 25px;
    padding-left: 2px;
}

.zipCodeInput {
    width: 50px;
}

.newestAndHasImageOptionContainer {
    margin-bottom: 20px;
}

.option {
  width: 140px;
  padding: 3px;
  border: 1px solid gray;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}

.option:hover {
    cursor: pointer;
    background: rgb(202, 233, 243);
}

.categoryLabel, .cityOptionsLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}

.cityOptionsLabel {
    margin-top: 18px;
}

.selected {
    border: 1px solid rgb(187, 186, 186);
    color: blue;
    background-color: rgb(196, 233, 245);
}



