@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Hind');

.newFormHeader_label {
    text-align: center;
    background-color: rgba(244, 165, 96, 0.911);
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Alegreya', serif;
    color: white;
}

.button_home{
    font-family: 'Signika', sans-serif;
    font-size: 17px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: rgb(66, 66, 66);
}

.button_home_label {
    color: rgb(66, 66, 66);
}

.icon_leftArrow {
    padding-right: 8px;
    font-size: 15px;
    color: rgb(66, 66, 66);
}

.newPost_FormContainer {
    width: 100%;
    display: block;
}

.newForm_questionContainer {
    width: 90%;
    margin: 0 auto;
    height: 900px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 2px 5px 0px gray;
    padding-bottom: 30px;

}

.newForm_questionWrapper {
    width: 60%;
    margin: 0 auto;
}

.newForm_question {
    text-align: left;
    padding-left: 15px;
    height: 90px;
}

.questionLabel, .post_date {
    padding-top: 10px;
    font-family: 'Hind', sans-serif;
}

.newFormInput, .citySelection, .select_button_label, .categorySelection{
    border: 2px solid rgb(167, 167, 167);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.value_invalid {
    border: 2px solid rgb(243, 135, 135);
}

.maxCharacterLabel {
    margin-top: 0;
    margin-right: 50px;
}

.input_title {
    margin-bottom: 2px;
}

.question_city {
    height: 90px;
}

.question_images {
    height: 140px;
}

.question_note {
    height: 200px;
}

.citySelection, .categorySelection{
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
}

.citySelection {
    margin-left: 10px;
}

input[type="file"] {
    display: none;
}

.select_button_label {
    border-radius: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

.question_images_label {
    margin-bottom: 8px;
}

.displayFileNameWrapper{
    display: block;
    background-color: rgba(240, 240, 240, 0.795);
    margin-top: 15px;
    margin-left: 10px;
    width: 690px;
    height: 45px;
    overflow: scroll;
    border-radius: 4px;
}

.question_name {
    width: 700px;
}

.post_date {
    float: right;
    font-size: 15px;
    font-weight: 100;
}

.displayFileName {
    padding-left: 10px;
    color: rgb(37, 37, 37);
    display: inline-block;
}

.categorySelection {
    outline: none;
    margin-left: 8px;
    padding-left: 6px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .input_notes {
      outline: none;
      padding-top: 8px;
      resize: none;
      height: 60px;
      overflow: scroll;
  }

  .newFormButton_cancel {
      margin-left: 80px;
      background: white;
  }

  .newFormButton_submit {
      margin-right: 80px;
      float: right;
  }

  .newForm_buttons {
      padding: 8px;
      box-shadow: 0px 0px 3px 0px gray;
      margin-top: 30px;
      margin-bottom: 100px;
      border-radius: 5px;
      font-size: 16px;
  }

  .newFormButton_submit:hover, .newFormButton_cancel:hover {
      cursor: pointer;
      box-shadow: 0px 0px 6px 0px gray;
  }

  .newFormInput {
      width: 680px;
      padding: 6px;
      outline: none;
      border-radius: 5px;
      font-size: 15px;
      margin-left: 10px;
  }

  .maxCharacterLabel {
      float: right;
      font-size: 13px;
      color: rgb(88, 87, 87);
      margin-left: 100px;
        margin-right: 0;
  }