.post {
    /* display: inline-block; */
    height: 200px;
    width: 300px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px -1px 16px 0px rgb(197, 197, 197);
    margin: 10px;
    float: left;
}

.post_details {
    display: block;
}

.post_name{
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-size:18px;
    width: 93%;
    text-align: left;
}

.post_note{
    background: rgba(193, 239, 247, 0.267);
    width: 90%;
    margin: 0 auto;
    height: 85px;
    overflow: scroll;
    text-align: left;
    border-radius: 3px;
    padding: 10px;
    font-size: 13px;
}

.post_name_icon{
    padding-right: 5px;
    font-size: 24px;
}

.edit_icon{
    float: right;
    margin-right: 10px;
    font-size: 15px;
    color: rgba(0, 0, 255, 0.692);
}

.edit_icon:hover{
    cursor: pointer;
}

.post_date {
    font-size: 12px;
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
}

.post_address{
    font-style: italic;
    font-size: 13px;
    margin-bottom: 5px;
}

.post_address_icon{
    font-size: 15px;
}

.post_address:hover{
    cursor: pointer;
    color: blue;
}

.post_note:hover, .post_name:hover{
    cursor: default;
}
