.postList{
    width: 99%;
    height: 40px;
    background: rgb(181, 219, 241);
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    align-content: center
}

.icon_feather{
    padding-right: 6px;
    font-size: 13px;
}

.postList:hover{
    cursor: pointer;
}

.postList_details{
    float: left;
    text-align: left;
}

.postList_name{
    font-size: 15px;
    float: left;
}

.postList_date {
    display: inline-block;
    font-size: 12px;
    padding-left: 8px;
    color: rgb(99, 98, 98);

}

.postList_address{
    font-style: italic;
    font-size: 12px;
    padding-left: 15px;
    float: right;
}

.postList_note {
    font-size: 12px;
    padding-left: 15px;
    width: 90%;
    height: 20px;
    overflow: scroll;
}

.modal_post_detail{
    position: absolute;
    top: 30%;
    left: 30%;
    background:red;
}
