.postList{
    width: 99%;
    height: 20px;
    background: rgba(190, 225, 245, 0.418);
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    align-content: center;
    overflow: scroll;
}

.icon_feather{
    padding-right: 6px;
    padding-left: 13px;
    font-size: 13px;
}

.postList{
    text-align: left;
    margin-left: 5px;
}

.postList_name{
    font-size: 15px;
    float: left;
}

.postList_date {
    display: inline-block;
    font-size: 11px;
    padding-left: 8px;
    color: rgb(99, 98, 98);
}

.postList_address{
    font-style: italic;
    font-size: 11px;
    padding-left: 15px;
    display: inline-block;
}

.icon_address{
    color: green;
    padding-right: 4px;
}

.postList_note, .postList_image {
    font-size: 12px;
    display: inline-block;
    padding-left: 15px;
}


.icon_circle{
    color: green;
    font-size: 10px;
}

.postList_label:hover {
    cursor: pointer;
}