.modal {
    z-index: 9;
    background: rgb(148, 234, 255);
    position: absolute;
    height: 100px;
    width: 350px; 
    top: 40%;
    left: 35%;
    border-radius: 5px;
}

.modal_question{
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 15px;
}

.input_zipCode{
    width: 100px;
    margin-left: 15px;
    margin-top: 13px;
    outline: none;
    border: 1px solid white;
}

.modal_skipButton {
    text-decoration: underline;
    float: right;
    margin-top: 30px;
    margin-right: 5px;
}

.modal_skipButton:hover {
    color: red;
    cursor: pointer;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}