
.newPostForm {
    z-index: 12;
    position: absolute; 
    top: 25%;
    left: 35%;
    background:white;
    width: 400px;
    border-radius: 5px;
    border: 2px solid rgb(129, 198, 224);
}


 .form_header{
    background-color: rgb(113, 210, 240);
    padding: 6px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;

}

.postForm_question{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.titles {
    text-align: left;
    margin: 5px;
    margin-left: 10px;
    font-weight: Bold;
}

input{
    border-radius: 5px;
    height: 25px;
    width: 90%;
    border: 1px solid gray;
    float: left;
    margin-left: 10px;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
}

.input_notes{
    border-radius: 5px;
    width: 90%;
    border: 1px solid gray;
    float: left;
    margin-left: 10px;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
    height: 100px;
    margin-bottom: 20px;
}

.post_date{
    padding: 10px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

.newForm_buttons{
    padding: 3px;
    font-size: 14px;
    border: 1px solid gray;
    margin-bottom: 8px;
    border-radius: 5px;
    outline: none;
}

.submit_disable:hover {
    cursor: default;
}

.newFormButton_submit{
    float: right;
    margin-right: 10px;
}

.submit_enable {
    background: rgb(225, 242, 248);
}
.submit_enable:hover {
    background-color: rgb(8, 175, 236);
    box-shadow: 0px 2px 15px 0px rgb(129, 198, 224);
    cursor: pointer;
}

.newFormButton_cancel {
    float: left;
    margin-left: 10px;
    background: rgb(225, 242, 248);
}

.newFormButton_cancel:hover{
    cursor: pointer;
}

.value_invalid{
    border-color: red;
}

.citySelection{
    appearance: none; 
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 2px;
}

.required_label{
    color: red;
    display: inline-block;
}

.maxCharacterLabel{
    font-size: 12px;
    color: rgb(102, 101, 101);
    float: right;
    margin-top: 3px;
    margin-right: 18px;
}

.input_images{
    border: none;
    padding: 5px;
}