@import url('https://fonts.googleapis.com/css?family=Lato');

.user{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 110px;
}

.icon_user{
    margin-top: 9px;
    margin-right: 95px;
    color: gray;
    font-size: 33px;
    border-radius: 50px;
}

.userActive {
    color: rgb(2, 107, 2);
    padding: 7px 7px;
    width: 20px;
    margin-right: 80px;
    border-radius: 50%;
    margin-top: 8px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bolder;  
    border: 2px solid lightgray;
}

.userSignOut, .userSignIn {
    width: 60px;
    float: right;
    position: absolute;
    top: 33px;
    right: 25px;
    font-size: 15px;
    color: gray;
    font-family: 'Lato', sans-serif;
}

.userSignOut:hover, .userSignIn:hover {
    cursor: pointer;
    color: #F4A460;
    text-decoration: underline;
}

.account_header {
    padding-top: 3px;
    font-family: 'Charmonman', cursive;
    font-size: 18px;
    color: rgb(201, 71, 19);
    font-weight: bolder;
}

.account_header:hover {
    cursor: default;
}

.account_signUp {
    color: rgb(82, 82, 82);
}
