@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

.selectCityMenu{
    width: 220px;
    padding-top: 3px;
    position: absolute;
    right: 50%;
    border-radius: 5px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.selectCityMenu:hover{
    cursor: pointer;
}

.displayCity_label{
    display: inline-block;
    padding-bottom: 3px;
}

.currentCity {
    display: inline-block;
    text-decoration: underline;
    color: blue;
}

.selectCityOptions{
    margin-top: 5px;
    width: 220px;
    background: rgb(248, 245, 245);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.cityOption{
    padding-top: 2px;
    padding-bottom: 2px;
}

.cityOption:hover{
    cursor: pointer;
    background: gray;
}