@import url('https://fonts.googleapis.com/css?family=Jaldi');

.postPageStyle {
    position: absolute;
    left: 0%;
    top: 0%;
    padding-top: 100px;
}

.modalPhotoHolder {
    z-index: 13;
    height: 100vh;
    width: 100%;
}

.thumbParentHolder {
    z-index: 12;
    width: 100%;
    overflow: scroll;
}

.thumbHolder {
    width: 650px;
    height: 60px;
    margin: 0 auto;
}

.thumbs {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
}

.currentClickedImageThumb {
    border: 2px solid #F4A460;
}

.postPageStyle-photoSection {
    width: 100%;
}

.modalPhotos{
    z-index: 12;
    height: 700px;
    width: 70%;
}

.postPageStyle-modalPhotos {
    margin: 0 auto;
}

.imageHolder {
    z-index: 15;
    width: 100%;
    height: 100%;
}

.currentClickedImage {
    padding-top: 50px;
    max-height: 500px;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.arrowIcons {
    position: absolute;
    font-size: 40px;
    color: rgb(87, 87, 87);
    background: rgba(255, 255, 255, 0.746);
    border-radius: 50%;
}

.arrowIcons:hover {
    cursor: pointer;
}

.photoDisplay_iconAngleLeft {
    margin-left: 150px;
}

.postPageStyle-photoDisplay_iconAngleLeft {
    padding-left: 10px;
    width: 35px;
    margin-top: 300px;
}

.postPageStyle-photoDisplay_iconAngleRight {
    margin-right: 180px;
    padding-left: 14px;
    width: 32px;
    margin-top: 300px;
}

.photoDisplay_iconAngleLeft {
    left: 20px;
    top: 50px;
}

.photoDisplay_iconAngleRight {
    right: 20px;
    top: 50px;
}

.photoModalCloseButton {
    z-index: 15;
    color: rgba(255, 0, 0, 0.502);
    font-family: 'Jaldi', sans-serif;
    font-size: 40px;
    margin-right: 150px;
    width: 32px;
    background-color: rgba(255, 255, 255, 0.79);
    line-height: 28px;
    text-align: center;
    padding-bottom: 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px white;
    float: right;
}

.photoModalCloseButton:hover {
    cursor: pointer;
    color: red;
    background-color: white;
}


