.modalPhotoHolder {
    position: relative;
    top: 50%;
    left: 25%;
    width: 900px;
    height: 800px;
    z-index: 13;
}

.thumbParentHolder {
    position: absolute;
    top: 10%;
    left: 12%;
    z-index: 12;
    width: 650px;
    overflow: scroll;
}

.thumbHolder {
    width: 650px;
    height: 60px;
    margin: 0 auto;
}

.thumbs {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 10px;
}

.currentClickedImageThumb {
    border: 2px solid #F4A460;
}

.modal_photos{
    z-index: 12;
    position: relative;
    top: 20%;
    left: 0%;
    border-radius: 5px;
    width: 900px;
    height: 700px;
}

.imageHolder {
    position: absolute;
    top: 50px;
    left: 130px;
    width: 600px;
    height: 500px;
    z-index: 15;
}
.currentClickedImage {
    max-height: 500px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.arrowIcons {
    position: absolute;
    font-size: 40px;
    color: rgb(87, 87, 87);
    margin-top: 200px;
    background: rgba(255, 255, 255, 0.746);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-bottom: 6px;
}

.arrowIcons:hover {
    cursor: pointer;
}

.photoDisplay_iconAngleLeft {
    left: 20px;
    top: 50px;
    padding-right: 6px;
}

.photoDisplay_iconAngleRight {
    right: 20px;
    top: 50px;
    padding-left: 6px;
}

