@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Hind');

.newFormHeader_label {
    text-align: center;
    background-color: rgb(15, 217, 253);
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    color: white;
}

.button_home{
    font-family: 'Signika', sans-serif;
    font-size: 17px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.icon_leftArrow {
    padding-right: 8px;
    font-size: 16px;
}

.newPost_FormContainer {
    width: 100%;
    display: block;
}

.newForm_questionContainer {
    width: 90%;
    margin: 0 auto;
    height: 900px;
    border-radius: 5px;
    box-shadow: -1px 0px 34px -6px rgb(47, 146, 221);
    padding-bottom: 30px;

}

.newForm_questionWrapper {
    width: 60%;
    margin: 0 auto;
}

.newForm_question {
    text-align: left;
    padding-left: 15px;
    height: 90px;
}

.questionLabel, .post_date {
    padding-top: 10px;
    font-family: 'Hind', sans-serif;
}

.newFormInput, .citySelection, .select_button_label, .categorySelection{
    border: 2px solid rgb(167, 167, 167);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.value_invalid {
    border: 2px solid rgb(243, 135, 135);
}

.maxCharacterLabel {
    margin-top: 0;
    margin-right: 50px;
}

.input_title {
    margin-bottom: 2px;
}

.question_city {
    height: 90px;
}

.question_images {
    height: 140px;
}

.question_note {
    height: 200px;
}

.citySelection, .categorySelection{
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
}

input[type="file"] {
    display: none;
}

.select_button_label {
    border-radius: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

.question_images_label {
    margin-bottom: 8px;
}

.displayFileNameWrapper{
    display: block;
    background-color: rgba(240, 240, 240, 0.795);
    margin-top: 15px;
    margin-left: 10px;
    width: 600px;
    height: 45px;
    overflow: scroll;
    border-radius: 4px;
}

.post_date {
    float: right;
    font-size: 15px;
    font-weight: 100;
}

.displayFileName {
    padding-left: 10px;
    color: rgb(37, 37, 37);
    display: inline-block;
}

.categorySelection {
    outline: none;
    margin-left: 8px;
    padding-left: 6px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .input_notes {
      outline: none;
      padding-top: 8px;
      resize: none;
      overflow: scroll;
  }

  .newFormButton_cancel {
      margin-left: 80px;
      background: white;
  }

  .newFormButton_submit {
      margin-right: 80px;
  }

  .newForm_buttons {
      padding: 8px;
      box-shadow: -1px 3px 21px -4px rgba(77,210,227,1);
      margin-top: 30px;
      margin-bottom: 100px;
  }

  .newFormButton_submit:hover {
      cursor: pointer;
  }