@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Charmonman');


.header {
    width: 100%;
    height: 60px;
}

.header_name {
    font-family: 'Alegreya', serif;
    width: 190px;
    color: #F4A460;
    font-size: 28px;
    font-weight: bolder;
    padding-top: 15px;
}

.header_label{
    color: #F4A460;
}

.header_label:hover {
    cursor: pointer;
}


