@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.signInModal{
    z-index: 11;
    position: absolute;
    top: 22%;
    left: 33%;
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 5px;
}

.signInForm-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    border-bottom: 1px solid rgb(185, 185, 185);
}

.signInForm-elementContainer {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    height: 70%;
}

.signInForm-element {
    height: 90px;
    width: 80%;
    margin: 0 auto;
}

.form_label{
    text-align: left;
    width: 100%;
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: bold;
    color:rgb(90, 90, 90);
}

.signInInput {
    padding: 10px 5px;
    width: 94%;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(197, 197, 197);
    font-size: 15px;
    padding-left: 8px;
}

.signInForm-submitLabel{
    width: 100%;
    background-color: green;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
}


.signInForm-signUpButton {
    width: 100%;
    color: gray;
    font-size: 12px;
    margin: 0 auto;
}

.signInForm-signUpButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

.signInErrorMsg {
    color: red;
    font-size: 12px;
}

.icon-exlamation {
    padding-right: 5px;
}

