@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Jaldi');
@import url('https://fonts.googleapis.com/css?family=Lato');



.sideBarWrapper {
    height: 100vh;
    position: absolute;
    top: 128px;
    float: left;
    width: 230px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.sideBarContainer {
    position: relative;
    background: white;
    float: left;
    width: 240px;
    height: 90%;
    overflow: scroll;
}

.resetButton {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 3px;
    margin-left: 100px;
    width: 40px;
    font-family: 'Jaldi', sans-serif;
    font-size: 19px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-weight: bolder;
    color: rgb(43, 43, 159);
    box-shadow: 0px 1px 10px 0px rgb(174, 174, 247);
}

.resetButton:hover {
    cursor: pointer;
}


.option {
    float: left;
    width: 140px;
    margin-left: 17px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    height: 30px;

}

.option:hover {
    cursor: pointer;
    color: blue;
}

.categoryLabel, .cityOptionsLabel, .sortByLabel, .moreFilterLabel {
    font-size: 17px;
    margin-bottom: 10px;
    float: left;
    margin-left: 35px;
    font-family: 'Jaldi', sans-serif;
    font-weight: bolder;
    color: rgb(63, 63, 63);
}

.selectCityOptions{
    height: 220px;
}

.optionWrapper {
    text-align: left;
    margin: 0 auto;
    width: 160px;
    padding-left: 10px;
}

.optionWrapper_cities {
    padding-top: 30px;
}

.sortByMenuContainer {
    height: 70px;
}

.optionWrapper_sort {
    padding-top: 30px;
}

.selected {
    color: blue;
}


.categorizedOptionsContainer {
    height: 350px;
}

.optionWrapper_categories {
    padding-top: 30px;
}




