.Modal_photos{
    background-color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 12;
    width: 600px;
    height: 400px;
}

.currentClickedImage {
    width: 400px;
    height: 400px;
    padding-left: 40px;
    padding-right: 40px;
}

.arrowIcons {
    font-size: 40px;
    color: gray;
    display: inline-block;
    margin-bottom: 200px;
}

.arrowIcons:hover {
    cursor: pointer;
}

.thumbParentHolder {
    position: absolute;
    top: 22.4%;
    left: 30%;
    z-index: 12;
    width: 600px;
    overflow: scroll;
    border-top: 4px solid rgb(203, 179, 247);
    border-bottom: 4px solid rgb(203, 179, 247);

}

.thumbHolder {
    width: 650px;
    background-color: white;
}


.thumbs {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}


.currentClickedImageThumb {
    border: 2px solid red;
}
