.post_gallery {
    display: block;
    float: left;
    height: 300px;
    width: 204px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(197, 197, 197);
    margin: 9px;
}

img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.thumbnailContainer {
    height: 180px;
    position: relative;
}

.thumbnailNagivationButtons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 40px;
    z-index: 20;
    color: gray;
}

.thumbnailNavigationButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.865);
    box-shadow: 0px 0px 35px 0px rgb(255, 255, 255);
}

.thumbnailNavigationButton_left {
    float: left;
    margin-left: 15px;
    padding-right: 5px;
}

.thumbnailNavigationButton_right {
    float: right; 
    padding-left: 5px;
    margin-right: 15px;
}

img:hover {
    cursor: pointer;
}

.thumbnailNavigationButton_right:hover {
    cursor: pointer;
}

.thumbnailNavigationButton_left:hover {
    cursor: pointer;
}

.post_name_gallery{
    padding-left: 20px;
    font-weight: bold;
    font-size:18px;
    text-align: left;
}

.post_name_gallery:hover {
    cursor: pointer;
    color: rgb(77, 3, 77);
}

.post_name:hover{
    cursor: default;
}

.post_address_gallery{
    font-style: italic;
    font-size: 13px;
    text-align: right;
    margin-right: 15px;
    padding-top: 5px;
    height: 25px;
}

.post_address_icon{
    font-size: 15px;
    color: darkgray;
    padding-right: 5px;
}

.post_address:hover{
    cursor: pointer;
    color: blue;
}

.post_date_gallery {
    font-size: 11px;
    height: 16px;
    padding-right: 15px;
    float: right;
    text-align: right;
}

.divider {
    height: 30px;
    width: 170px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
}

.post_comment {
    float: right;
    font-size: 12px;
    height: 25px;
    margin-top: 10px;
    margin-right: 17px;
    color: rgb(79, 79, 79);
}

.post_comment:hover {
    color: rgb(0, 136, 255);
    cursor: pointer;
}
