.searchBox {
    position: absolute;
    top: 22px;
    right: 150px;
    border-radius: 5px;
}


.searchBox_input {
    background: none;
    width: 200px;
    height: 30px;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid rgb(208, 208, 208);
    padding-left: 15px;
    padding-right: 28px;
    font-size: 15px;
    border-radius: 16px;
}

.searchBox_icon{
    font-size: 15px;
    position: absolute;
    top: 9px;
    right: 9px;
    color: rgb(170, 170, 170);
}

.searchBox_icon:hover {
    color: #F4A460;
    font-size: 17px;
}