@import url('https://fonts.googleapis.com/css?family=Jaldi');

.settingPage-navigationBar {
    width: 100%;
    height: 30px;
    background-color: rgb(243, 243, 243);
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Jaldi', sans-serif;
    font-weight: bolder;
}

.settingPage-dashboardButton, .icon_leftArrow {
    color: gray;
}

.settingPage-header {
    width: 80%;
    padding-top: 38px;
    padding-bottom: 8px;
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Jaldi', sans-serif;
    font-weight: bold;
    margin: 0 auto;
    border-bottom: 3px solid rgb(245, 168, 101);
}

.settingPage-optionsContainer {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    padding-top: 30px;
}

.settingPage-option {
    height: 100px;
    width: 100%;
    float: left;
    padding-left: 20px;
}

.settingPage-optionLabel {
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

.settingPage-optionInput {
    padding: 10px 10px;
    width: 300px;
    outline: none;
    background: none;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid gray;
}

.settingPage-communicationOptions {
    margin-top: 8px;
}

.communicationOption {
    display: inline-block;
    padding: 11px 11px;
    border: none;
    background-color: rgba(211, 211, 211, 0.678);
}

.communicationOption:hover {
    cursor: pointer;
}

.communicationOption-active {
    background-color: rgba(32, 178, 171, 0.637);
}

.communicationOption-email {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.communicationOption-phone {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.settingPage-buttonWrapper{
    background-color: red;
    position: relative;
}

.settingPage-saveButton{
    left: 220px;
    background-color: rgba(144, 238, 144, 0.329);
}

.settingPage-cancelButton{
    left: 500px;
}

.settingPage-buttons:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px lightgray;
}
.settingPage-buttons {
    position: absolute;
    width: 60px;
    padding: 3px 3px;
    text-align: center;
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;

}