@import url('https://fonts.googleapis.com/css?family=Lato');

.PostBoard{
    position: absolute;
    top: 20px;
    left: 0;
    width: 97.5%;
    background: white;
    height: 90%;
    float: left;
    padding-bottom: 40px;
    overflow: scroll;
    display: inline-block;
}

.postBoardWrapper {
    position: relative;
    top: 10px;
    left: 20px;
    width: calc(100% - 235px);
    height: calc(100vh - 100px);
    margin-right: 15px;
    float: right;
    background: white;
}

.no-results-found {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(120, 120, 120);
    padding-top: 10%;
    margin: 0 auto;
}
@media(device-width: 100%) and (device-height: 100vh){
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}