.PostBoard{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    margin: 0 auto;
    height: 100vh;
    width: 94%;
    margin-left: 220px;
    background: white;
}

.postBoardWrapper {
    margin-top: 20px;
    overflow: scroll;
    width: 99%;
    float: right;
}