.PostBoard{
    position: relative;
    padding-top: 10px;
    margin: 0 auto;
    height: 100vh;
    width: 95%;
    float: right;
    background: white;
}

.postBoardWrapper {
    overflow: scroll;
    width: 92%;
    margin-right: 15px;
    float: right;
    background: white;
}